@use "@/app/scss/abstracts" as *;

#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  @include full_width;

  .logo {
    @include f_gothic_a1_extrabold;
    font-style: italic;
    color: $c_primary;
  }

  img {
    height: rem(60);
  }
}
